<body> 
  <!--navbar-->
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="#">Services</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Technology</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
        <span class="caret"></span></a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Client
        <span class="caret"></span></a>
        </li>
      <li><a href="#">Partner</a></li>
      <li style="margin-left:300px;" ><a href="#"><i  class="fas fa-home"></i></a></li>
      <li ><a href="#"><i  class="far fa-envelope"></i></a></li>
      <li ><a href="#"><i class="fas fa-expand-arrows-alt"></i></a></li>
    </ul>
  </nav>
  <!--content--><!--One-->
  <div class="row" id="one">
    <div class="col-sm-6">
        <h1><strong>Making the most of <br> ever-growing </strong> </h1>  <h1 style="color: red;"><strong>Information Technology</strong></h1>Managed by a team of professional experts with extensive <br> experience and impressive track records
      <br><button style="margin-top:15px;" class="btn btn-danger">Read More</button>
    </div>
    <div class="col-sm-6">
        <img src="../assets/images/pana.svg" alt="no img" width="400px" height="270px">
    </div>
  </div>
  <!--Two-->
  <div class="row" id="two">
    <div class="col-sm-6">
      <img src="../assets/images/pana-1.svg" alt="no img"width="380px" height="380px">
    </div>
    <div class="col-sm-6" style="padding-top: 30px; padding-right: 90px;"><h2><b> Welcome to <span id="dsi">Dwidasa Samsara Indonesia (DSI)</span> </b> </h2> <br>
      <p>Dwidasa Samsara Indonesia (DSI) was firstly established in 2010 by the founders, who each of them has a common end objective to innovate new creations by making the most of the ever-growing information technology through <span id="dsi">DSI’s</span> distinct front-end based application concept. 
        <br> <br> Managed by a team of professional experts with extensive experience and impressive track records, <span id="dsi">DSI’s</span> believes that continuous improvements and innovations assure your business to run effectively and efficiently.
      </p>
    </div>
  </div>
  <!--Three-->
  
    <h2 id='three'><b>Products and Services</b></h2>
    <div class="row" id="ten">
      <div class="col-sm-4">
        <img src="../assets/images/product-description 1.png" alt="no img" width="100px" height="100px">
        <h3><b>Our Products</b></h3>
          <p>Our product is made on the base of our <br> team’s careful research and analyses, <br> ranging from internet based <br> application.</p>
        <button class="btn btn-danger">Read More</button>
      </div>
      <div class="col-sm-4">
        <img src="../assets/images/product-description 2.png" alt="no img" width="100px" height="100px">
        <h3><b>Our Services</b></h3>
          <p>DSI’s shared service solutions focus on <br> the front-end based software <br> development, designed specifically for <br> the banking and financial sectors. </p>
        <button class="btn btn-danger">Read More</button>
      </div>
      <div class="col-sm-4">
        <img src="../assets/images/product-description 3.png" alt="no img" width="100px" height="100px">
        <h3><b>Our Technology</b></h3>
        <p>First JAVA, runs on more than 850 <br> million personal computers worldwide, <br> and on billions of devices worldwide, <br> including mobile and TV devices. </p>
        <button class=" btn btn-danger">Read More</button>
      </div>
    </div>
  
  <!--four-->
  
    <h2 style="text-align: center; margin-top: 60px;"><b>Mobile Specialist</b></h2>
  <div class="row" id="nine">
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/image1.jpg" class="card-img-top" alt="no img" width="150px" height="150px">
        <div class="card-body">
          <h5><b>System Analyst</b></h5>
          <h4 style="color: black;"><b>Rodney Stratten</b></h4>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div> 
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/image2.jpg" class="card-img-top" alt="no img" width="150px" height="150px">
        <div class="card-body">
          <h5><b>System Analyst</b></h5>
          <h4 style="color: black;"><b>Rodney Stratten</b></h4>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div> 
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/image3.jpg" class="card-img-top" alt="no img" width="150px" height="150px">
        <div class="card-body">
          <h5><b>System Analyst</b></h5>
          <h4 style="color: black;"><b>Rodney Stratten</b></h4>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div> 
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../assets/images/image4.jpg" class="card-img-top" alt="no img" width="150px" height="150px">
        <div class="card-body">
          <h5><b>System Analyst</b></h5>
          <h4 style="color: black;"><b>Rodney Stratten</b></h4>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div> 
    </div>
  </div>  
      
  <!--footer-->
    <div class="row" >
      <div class="col-sm-4" id="four">
        <h4 style="color: black;"> <b>PT Dwidasa Samsara Indonesia </b></h4> Ruko Jalur Sutera 29A No. 53 <br> Alam Sutera Serpong, Tangerang 15323 
      </div>
      <div class="col-sm-4" id="five" >
        <h4><b>Contact</b></h4> 
        Phone : +62.21.5314.1135 <br> Fax : +62.21.5314.1135 <br>  Email : community@dwidasa.com
      </div>
      <div class="col-sm-4" id="six">
        <img src="../assets/images/image 7.png" alt="no img" width="110px" height="50px">
        <img src="../assets/images/image 9.png" alt="no img" width="110px" height="50px">
        <img src="../assets/images/image 10.png" alt="no img" width="110px" height="50px"> <br>
        <img src="../assets/images/image 11.png" alt="no img" width="110px" height="50px">
        <img src="../assets/images/image 14.png" alt="no img" width="110px" height="50px">
        <img src="../assets/images/image 13.png" alt="no img" width="110px" height="50px">
      </div>
    </div>
  <div id="seven"><h6> Copyright <i class="far fa-copyright"></i> 2015 </h6> </div>
   
</body>

<div>
  <router-outlet></router-outlet>
</div>

